pin-depends: [
  [ "postgres-eio.0.1.0" "git+https://github.com/hyphatech/postgres-eio.git#0.1.0" ]
  [ "rowtype.0.2.0" "git+https://github.com/hyphatech/rowtype.git#0.2.0" ]
  [ "rowtype-postgres.0.2.0" "git+https://github.com/hyphatech/rowtype.git#0.2.0" ]
]
